#include <iostream>
#include <conio.h>
using namespace std;
void main()
{
	int n;
	int factorial = 1;
	int suma = 0;
	cout << "ingrese n: ";
	cin >> n;
	for (int i = 1; i <= n; i++)
		suma = (factorial= i*factorial) + suma;
	cout << "la suma es:" << suma;

_getch();
}
